.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
}
.text {
    font-family: 'Darker Grotesque', sans-serif;
}

body {
    background-color: #f3f2ee;
    margin: 0 500px 0 500px;
    text-align: center;
}